
*{
	box-sizing: border-box;
	margin: 0;
}

body{
	background:url('wp.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100hv;
	margin:0;
}

#TopSpace{
	height: 10vh
}

#container{
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

h1{
	text-align: center;
	border-style: none;
	color: white;
}

#form{
	height: 4vh;
	width: 55%;
    margin: auto;
}

#input{
	padding: 0 10px;
	height: 100%;
	width: 85%;
	border-style: none;
	float: left;
}

#btn{
    height:100%;
    width: 15%;
	border: 1px solid royalblue;
	background-color: royalblue;
	float: left;
} 

#list{
	list-style: none;
	width: 55%;
	min-height: 100vh;
	padding: 0;
    margin: auto;
}

li {
	/*position: fixed;*/
	margin-top: 10px;
	border-bottom: 1px solid white;
	padding: 7px, 0, 7px, 0;
	color: white;
	width: 100%;
	max-height: 20vh;
    transition: 1s;
    animation-name: fadeIn;
    animation-duration: 3s;
}

@keyframes fadeIn{
    from{color: rgba(128, 128, 128, 0.055);}
    to{color: whitesmoke;}
}

li:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.Remove{
	float: right;
	color: white;
	background-color: blue;
	width: 1.9vw;
    height: 3.5vh;
    border-radius: 2px;
	text-align: center;
    position: relative;
    padding-top: 2px;
	transition: 1s;
    cursor: pointer;
}

.Remove:hover {
	background-color: lightblue;
}

.check {
	width: 2vw;
	height: 2.5vh;
	position: relative;
}

.subInput {
	margin-top: 5px;
	padding: 0px 5px 0px 5px;
}